// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color1 : #5f27cd;
$color2: #341f97;
$color3: #be2edd;
$color4: #4cd137;
$color5: #fbc531;
$color6: #00a8ff;
$color7: #e84118;
$color8: #842029;
$color9: #0f5132;
$linear1: linear-gradient(to left, #b92b27, #1565C0);
$linear2: linear-gradient(to left, #5C258D, #4389A2);
$linear3: linear-gradient(to left, #bc4e9c, #f80759);
$linear4: linear-gradient(to left, #7F00FF, #E100FF);